<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://kopitra-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9db96095-55b2-4dd2-9fc6-de52b4f5cf04/resourceGroups/kopitra-test/providers/Microsoft.Web/sites/kopitra-test</ResourceId>
    <UserName>$kopitra-test</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://kopitra-test.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>